*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    ::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(60, 60, 60); /* Color of the scrollbar thumb */
        border-radius: 4px; /* Rounded corners for the scrollbar thumb */
    }

    ::-webkit-scrollbar-track {
        background-color: #1a1a1a; /* Background color of the scrollbar track */
    }
}

